<section class="feedback">
  <div class="container">
    <h2 class="feedback-title">Відгуки клієнтів</h2>
    <p class="feedback-subtitle">
      Дізнайтеся, що кажуть наші задоволені клієнти про наші меблі.
    </p>
    <div class="swiper feedback-swiper">
      <ul class="swiper-wrapper" id="feedback-list"></ul>
      <button
        class="swiper-button-prev"
        type="button"
        aria-label="Previous feedback"
      >
        <svg class="icon">
          <use href="./img/sprite.svg#icon-arrow-left"></use>
        </svg>
      </button>
      <button
        class="swiper-button-next"
        type="button"
        aria-label="Next feedback"
      >
        <svg class="icon">
          <use href="./img/sprite.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
