<section class="feedback">
  <div class="container">
    <h2 class="feedback-title">Відгуки клієнтів</h2>
    <p class="feedback-subtitle">
      Дізнайтеся, що кажуть наші задоволені клієнти про наші меблі.
    </p>
    <div class="feedback-swiper swiper">
      <button
        id="feedback-prev"
        class="feedback-nav prev"
        type="button"
        aria-label="Previous"
      >
        <svg class="icon"><use xlink:href="#icon-arrow-left"></use></svg>
      </button>

      <ul id="feedback-list" class="swiper-wrapper"></ul>

      <button
        id="feedback-next"
        class="feedback-nav next"
        type="button"
        aria-label="Next"
      >
        <svg class="icon"><use xlink:href="#icon-arrow-right"></use></svg>
      </button>

      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>