<section class="feedback">
  <div class="container">
    <h2 class="feedback-title">Відгуки клієнтів</h2>
    <p class="feedback-subtitle">
      Дізнайтеся, що кажуть наші задоволені клієнти про наші меблі.
    </p>
    <div class="feedback-swiper swiper">
      <ul id="feedback-list" class="swiper-wrapper"></ul>

      <div class="feedback-controls">
    <div class="swiper-pagination"></div>
    <div class="feedback-scroll-wrapper">
      <button id="feedback-prev" class="feedback-nav prev" type="button" aria-label="Previous">
        <svg class="scroll-icon">
          <use xlink:href="../img/sprite.svg#icon-arrow-left" width="14"></use>
        </svg>
      </button>
      <button id="feedback-next" class="feedback-nav next" type="button" aria-label="Next">
        <svg class="scroll-icon">
          <use xlink:href="../img/sprite.svg#icon-arrow-right" width="14"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
</section>
