<section class="our-furnitures">
    <div class="container">
        <h2 class="our-furnitures__title">
            Наші меблі
        </h2>
        <h3 class="our-furnitures__subtitle">
            Знайдіть ідеальні рішення для вашого інтер'єру
        </h3>

        <ul class="our-furnitures__categories">
            <li class="categories__item">
                <div class="categories__thumb">
                    <picture>
                        <source media="(min-width: 1440px)"
                            srcset="img/furnitures/all_furnitures.png 1x, img/furnitures/all_furnitures2x.png 2x"
                            width="166" height="122">
                        <source media="(min-width: 768px)"
                            srcset="img/furnitures/all_furnitures.png 1x, img/furnitures/all_furnitures2x.png 2x"
                            width="158" height="122">
                        <source media="(max-width: 767px)"
                            srcset="img/furnitures/all_furnitures.png 1x, img/furnitures/all_furnitures2x.png 2x"
                            width="159" height="122">
                        <img class="categories__img" src="img/furnitures/all_furnitures.png" alt="all_furnitures"
                            width="166" height="122">
                    </picture>
                </div>
            </li>
            <li class="categories__item">
                <div class="categories__thumb">
                    <picture>
                        <source media="(min-width: 1440px)"
                            srcset="img/furnitures/sofa.png 1x, img/furnitures/sofa2x.png 2x" width="166" height="122">
                        <source media="(min-width: 768px)"
                            srcset="img/furnitures/sofa.png 1x, img/furnitures/sofa2x.png 2x" width="158" height="122">
                        <source media="(max-width: 767px)"
                            srcset="img/furnitures/sofa.png 1x, img/furnitures/sofa2x.png 2x" width="159" height="122">
                        <img class="categories__img" src="img/furnitures/sofa.png" alt="sofa" width="166" height="122">
                    </picture>
                </div>
            </li>
            <li class="categories__item">
                <div class="categories__thumb">
                    <picture>
                        <source media="(min-width: 1440px)"
                            srcset="img/furnitures/wardrobe.png 1x, img/furnitures/wardrobe2x.png 2x" width="166"
                            height="122">
                        <source media="(min-width: 768px)"
                            srcset="img/furnitures/wardrobe.png 1x, img/furnitures/wardrobe2x.png 2x" width="158"
                            height="122">
                        <source media="(max-width: 767px)"
                            srcset="img/furnitures/wardrobe.png 1x, img/furnitures/wardrobe2x.png 2x" width="159"
                            height="122">
                        <img class="categories__img" src="img/furnitures/wardrobe.png" alt="wardrobe" width="166"
                            height="122">
                    </picture>
                </div>
            </li>
            <li class="categories__item">
                <div class="categories__thumb">
                    <picture>
                        <source media="(min-width: 1440px)"
                            srcset="img/furnitures/beds_and_mattresses.png 1x, img/furnitures/beds_and_mattresses2x.png 2x"
                            width="166" height="122">
                        <source media="(min-width: 768px)"
                            srcset="img/furnitures/beds_and_mattresses.png 1x, img/furnitures/beds_and_mattresses2x.png 2x"
                            width="158" height="122">
                        <source media="(max-width: 767px)"
                            srcset="img/furnitures/beds_and_mattresses.png 1x, img/furnitures/beds_and_mattresses2x.png 2x"
                            width="159" height="122">
                        <img class="categories__img" src="img/furnitures/beds_and_mattresses.png"
                            alt="beds_and_mattresses" width="166" height="122">
                    </picture>
                </div>
            </li>
            <li class="categories__item">
                <div class="categories__thumb">
                    <picture>
                        <source media="(min-width: 1440px)"
                            srcset="img/furnitures/dining_table.png 1x, img/furnitures/dining_table2x.png 2x"
                            width="166" height="122">
                        <source media="(min-width: 768px)"
                            srcset="img/furnitures/dining_table.png 1x, img/furnitures/dining_table2x.png 2x"
                            width="158" height="122">
                        <source media="(max-width: 767px)"
                            srcset="img/furnitures/dining_table.png 1x, img/furnitures/dining_table2x.png 2x"
                            width="159" height="122">
                        <img class="categories__img" src="img/furnitures/dining_table.png" alt="dining_table"
                            width="166" height="122">
                    </picture>
                </div>
            </li>
            <li class="categories__item">
                <div class="categories__thumb">
                    <picture>
                        <source media="(min-width: 1440px)"
                            srcset="img/furnitures/chairs_and_stools.png 1x, img/furnitures/chairs_and_stools2x.png 2x"
                            width="166" height="122">
                        <source media="(min-width: 768px)"
                            srcset="img/furnitures/chairs_and_stools.png 1x, img/furnitures/chairs_and_stools2x.png 2x"
                            width="158" height="122">
                        <source media="(max-width: 767px)"
                            srcset="img/furnitures/chairs_and_stools.png 1x, img/furnitures/chairs_and_stools2x.png 2x"
                            width="159" height="122">
                        <img class="categories__img" src="img/furnitures/chairs_and_stools.png" alt="chairs_and_stools"
                            width="166" height="122">
                    </picture>
                </div>
            </li>
            <li class="categories__item">
                <div class="categories__thumb">
                    <picture>
                        <source media="(min-width: 1440px)"
                            srcset="img/furnitures/kitchen.png 1x, img/furnitures/kitchen2x.png 2x" width="166"
                            height="122">
                        <source media="(min-width: 768px)"
                            srcset="img/furnitures/kitchen.png 1x, img/furnitures/kitchen2x.png 2x" width="158"
                            height="122">
                        <source media="(max-width: 767px)"
                            srcset="img/furnitures/kitchen.png 1x, img/furnitures/kitchen2x.png 2x" width="159"
                            height="122">
                        <img class="categories__img" src="img/furnitures/kitchen.png" alt="kitchen" width="166"
                            height="122">
                    </picture>
                </div>
            </li>
            <li class="categories__item">
                <div class="categories__thumb">
                    <picture>
                        <source media="(min-width: 1440px)"
                            srcset="img/furnitures/children_room.png 1x, img/furnitures/children_room2x.png 2x"
                            width="166" height="122">
                        <source media="(min-width: 768px)"
                            srcset="img/furnitures/children_room.png 1x, img/furnitures/children_room2x.png 2x"
                            width="158" height="122">
                        <source media="(max-width: 767px)"
                            srcset="img/furnitures/children_room.png 1x, img/furnitures/children_room2x.png 2x"
                            width="159" height="122">
                        <img class="categories__img" src="img/furnitures/children_room.png" alt="children_room"
                            width="166" height="122">
                    </picture>
                </div>
            </li>
            <li class="categories__item">
                <div class="categories__thumb">
                    <picture>
                        <source media="(min-width: 1440px)"
                            srcset="img/furnitures/home_office_furniture.png 1x, img/furnitures/home_office_furniture2x.png 2x"
                            width="166" height="122">
                        <source media="(min-width: 768px)"
                            srcset="img/furnitures/home_office_furniture.png 1x, img/furnitures/home_office_furniture2x.png 2x"
                            width="158" height="122">
                        <source media="(max-width: 767px)"
                            srcset="img/furnitures/home_office_furniture.png 1x, img/furnitures/home_office_furniture2x.png 2x"
                            width="159" height="122">
                        <img class="categories__img" src="img/furnitures/home_office_furniture.png"
                            alt="home_office_furniture" width="166" height="122">
                    </picture>
                </div>
            </li>
            <li class="categories__item">
                <div class="categories__thumb">
                    <picture>
                        <source media="(min-width: 1440px)"
                            srcset="img/furnitures/hallway_furniture.png 1x, img/furnitures/hallway_furniture2x.png 2x"
                            width="166" height="122">
                        <source media="(min-width: 768px)"
                            srcset="img/furnitures/hallway_furniture.png 1x, img/furnitures/hallway_furniture2x.png 2x"
                            width="158" height="122">
                        <source media="(max-width: 767px)"
                            srcset="img/furnitures/hallway_furniture.png 1x, img/furnitures/hallway_furniture2x.png 2x"
                            width="159" height="122">
                        <img class="categories__img" src="img/furnitures/hallway_furniture.png" alt="hallway_furniture"
                            width="166" height="122">
                    </picture>
                </div>
            </li>
            <li class="categories__item">
                <div class="categories__thumb">
                    <picture>
                        <source media="(min-width: 1440px)"
                            srcset="img/furnitures/bathroom_furniture.png 1x, img/furnitures/bathroom_furniture2x.png 2x"
                            width="166" height="122">
                        <source media="(min-width: 768px)"
                            srcset="img/furnitures/bathroom_furniture.png 1x, img/furnitures/bathroom_furniture2x.png 2x"
                            width="158" height="122">
                        <source media="(max-width: 767px)"
                            srcset="img/furnitures/bathroom_furniture.png 1x, img/furnitures/bathroom_furniture2x.png 2x"
                            width="159" height="122">
                        <img class="categories__img" src="img/furnitures/bathroom_furniture.png"
                            alt="bathroom_furniture" width="166" height="122">
                    </picture>
                </div>
            </li>
            <li class="categories__item">
                <div class="categories__thumb">
                    <picture>
                        <source media="(min-width: 1440px)"
                            srcset="img/furnitures/garden_and_outdoor_furniture.png 1x, img/furnitures/garden_and_outdoor_furniture2x.png 2x"
                            width="166" height="122">
                        <source media="(min-width: 768px)"
                            srcset="img/furnitures/garden_and_outdoor_furniture.png 1x, img/furnitures/garden_and_outdoor_furniture2x.png 2x"
                            width="158" height="122">
                        <source media="(max-width: 767px)"
                            srcset="img/furnitures/garden_and_outdoor_furniture.png 1x, img/furnitures/garden_and_outdoor_furniture2x.png 2x"
                            width="159" height="122">
                        <img class="categories__img" src="img/furnitures/garden_and_outdoor_furniture.png"
                            alt="garden_and_outdoor_furniture" width="166" height="122">
                    </picture>
                </div>
            </li>
            <li class="categories__item">
                <div class="categories__thumb">
                    <picture>
                        <source media="(min-width: 1440px)"
                            srcset="img/furnitures/accessories.png 1x, img/furnitures/accessories2x.png 2x" width="166"
                            height="122">
                        <source media="(min-width: 768px)"
                            srcset="img/furnitures/accessories.png 1x, img/furnitures/accessories2x.png 2x" width="158"
                            height="122">
                        <source media="(max-width: 767px)"
                            srcset="img/furnitures/accessories.png 1x, img/furnitures/accessories2x.png 2x" width="159"
                            height="122">
                        <img class="categories__img" src="img/furnitures/accessories.png" alt="accessories" width="166"
                            height="122">
                    </picture>
                </div>
            </li>

        </ul>

        <ul class="our-furnitures__list"></ul>
        <button class="our-furnitures__load-more-btn">Load More</button>



        <div class="loader-box loader-box-hidden">
            <span class="loader"></span>
        </div>
    </div>
</section>