<header class="header">
  <div class="container">
    <nav class="nav">
      <a class="nav-logo" href="#top" aria-label="Site logo">
        <img src="/img/company-logo.svg" alt="Logo" class="nav-logo-img" />
      </a>

      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link" href="#products">Наші меблі</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">Про нас</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#faq">Часті питання</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#feedback">Відгуки</a>
        </li>
        <li class="nav-item">
          <a class="btn-to-shop-one" href="#products">До покупок</a>
        </li>
      </ul>
      <button class="burger-btn" type="button" aria-label="Open menu">
        <svg class="icon-btm-svg" width="40" height="40">
          <use class="icon-btm-use" href="/img/sprite.svg#icon-menu"></use>
        </svg>
      </button>
    </nav>

    <div class="mobile-menu">
      <button class="mobile-close-btn" data-menu-close>
        <svg class="menu-icon-close" width="20" height="20">
          <use href="/img/sprite.svg#icon-x"></use>
        </svg>
      </button>
      <ul class="mobile-nav">
        <li class="nav-list-mobile">
          <a class="nav-link-mobile" href="#products">Наші меблі</a>
        </li>
        <li class="nav-list-mobile">
          <a class="nav-link-mobile" href="#about">Про нас</a>
        </li>
        <li class="nav-list-mobile">
          <a class="nav-link-mobile" href="#faq">Часті питання</a>
        </li>
        <li class="nav-list-mobile">
          <a class="nav-link-mobile" href="#contact">Відгуки</a>
        </li>
        <li class="nav-list-mobile">
          <a class="btn-to-shop" href="#products">До покупок</a>
        </li>
      </ul>
    </div>
  </div>
</header>
