<section class="popular__products">
  <div class="container">
    <h2 class="sub__title__popular-products">Популярні товари</h2>

    <div class="swiper mySwiper">
      <div class="swiper-wrapper"></div>
    </div>

    <div class="box-btn">
      <div class="swiper-pagination"></div>
      <ul class="box__btn-list">
        <li class="box__btn-item">
          <button class="btn-left btn-swiper" type="button">
            <svg class="icon-left-arrow" width="24" height="24">
              <use href="/img/sprite.svg#icon-left-arrow-alt"></use>
            </svg>
          </button>
        </li>
        <li class="box__btn-item">
          <button class="btn-right btn-swiper" type="button">
            <svg class="icon-right-arrow" width="24" height="24">
              <use href="/img/sprite.svg#icon-right-arrow-alt"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
