.feedback {
  padding-top: 64px;
  padding-bottom: 64px;
}

.feedback-title {
  font-size: 24px;
}
.feedback-subtitle {
  margin-top: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #080c09;
}

.feedback-swiper {
  margin: 65px 0 48px 0;
  background-color: #fff;
}

.feedback-card {
  padding-top: 15px;
  padding-left: 15px;
  background: #f0e6e6;
  outline: 2px solid #f5e1e1;
  border-radius: 8px;
  min-height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 295px;
  min-width: unset;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.feedback-card:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.feedback-text {
  margin-top: 24px;
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.6;
  color: #080c09;
  max-width: 287px;
}

.feedback-author {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6;
  color: #080c09;
  margin-bottom: 41px;
}
.feedback-meta {
  font-size: 13px;
  color: #777;
}

.feedback-nav {
  background: transparent;
  border: 1px solid #ddd;
  width: 40px;
  height: 40px;
  border-radius: 6px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.feedback-nav.disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.star {
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px;
}
.feedback-stars {
  display: flex;
  align-items: center;
}

.star {
  transition: transform 0.3s ease;
  cursor: pointer;
}

.star:hover {
  transform: scale(1) translateY(-3px);
}

.feedback-swiper {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: left;
  gap: 8px;
  overflow: hidden !important;
}

.feedback-swiper .swiper-wrapper {
  padding: 0;
  margin: 0;
  list-style: none;
  border: none;
  width: 100%;
}

.feedback-scroll-wrapper {
  min-width: auto;
  min-height: 48px;
  display: flex;
  align-items: flex-end;
  justify-content: end;
  gap: 16px;
}

.feedback-item {
  border: none;
}

/* .swiper-pagination-bullet {
  width: 8px !important;
  height: 8px !important;
  background-color: #adabab !important;
  border-radius: 50%;
  opacity: 0.6;
  transition: opacity 0.3s, background-color 0.3s !important;
  cursor: pointer;
  margin: 0 4px;
} */

.feedback_swiper-pagination .swiper-pagination-bullet-active {
  background-color: #070707 !important;
  opacity: 90% !important;
}

/* .swiper-pagination-bullet-main {
  width: 12px !important;
  height: 12px !important;
  opacity: 1 !important;
  background-color: #6b0609 !important;
  opacity: 70% !important;
} */

/* .swiper-pagination-bullet-prev,
.swiper-pagination-bullet-next {
  opacity: 0.7 !important;
  background-color: #ff9e80 !important;
} */

/* .swiper-pagination-bullet:hover {
  background-color: #da606088;
  opacity: 0.9;
} */

.feedback-nav {
  border: 1px solid rgba(8, 12, 9, 0.15);
  border-radius: 100px;
  padding: 12px;
  margin-right: 3px;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  background: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-bottom: 3px;
}

.feedback-nav svg {
  display: block !important;
  width: 14px;
  height: 14px;
}

.feedback-nav:hover,
.feedback-nav:focus {
  background-color: #975052;
}

.feedback-nav:active {
  box-shadow: 0 1px 2px 0 rgba(8, 12, 9, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(8, 12, 9, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);

  background: #6b0609;
  fill: #fff;
}

.feedback-nav:hover .scroll-icon {
  fill: white;
  transform: translateX(1px);
  transition: fill 0.3s ease, transform 0.3s ease;
}

.feedback-nav.prev:hover .scroll-icon {
  transform: translateX(-1px);
}

.feedback-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.feedback-controls .swiper-pagination {
  position: static;
  display: flex;
  align-items: center;
}

.feedback-controls .swiper-button-prev,
.feedback-controls .swiper-button-next {
  position: static;
  margin: 0 4px;
}

.feedback_swiper-pagination.swiper-pagination {
  display: flex;
  gap: 0px;
  justify-content: flex-start;
  transform: none !important;
}

#feedback-prev.disabled,
#feedback-next.disabled {
  opacity: 0.4;
  pointer-events: none;
  cursor: default;
}

@media (min-width: 768px) {
  .feedback {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .feedback-title {
    font-size: 48px;
  }
  .feedback-subtitle {
    font-size: 18px;
  }
  .feedback-text {
    font-size: 20px;
    max-width: 293px;
  }
  .feedback-card {
    min-width: 341px;
    min-height: 252px;
    border: none;
  }
  .feedback-author {
    margin-bottom: 32px;
  }
  .feedback-scroll-wrapper {
    gap: 24px;
  }
  .feedback-author {
    padding-bottom: 15px;
  }
}

@media (min-width: 1440px) {
  .feedback {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .feedback-text {
    max-width: 373px;
  }
  .feedback-card {
    min-width: 421px;
    min-height: 220px;
  }
}
