.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.5);

  &.modal--is-open {
    display: flex;
  }
}

.modal__content {
  position: relative;
  width: 90%;
  max-width: 800px;
  max-height: 90vh;
  padding: 2rem;

  background: #ffff;
  border-radius: 8px;
  transform: scale(0.95);
  animation: scaleUp 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  overflow-y: auto;
  transition: background-color 0.3s, color 0.3s;
}

.modal__close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;

  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.modal__close-btn::after {
  content: '✕';

  font-size: 1.5rem;
  color: #2d3748;
  transition: color 0.3s ease;
}

.modal__close-btn:hover::after {
  color: #721215;
}

.modal-furniture {
  position: relative;
  display: flex;
  flex-direction: column;
}

/* .modal-furniture__img-list {
  display: flex;
  flex-wrap: wrap;
} */

.modal-furniture__img {
  height: 100px;
  object-fit: contain;
  border-radius: 8px;
  background: #f8f9fa;
}

.modal-furniture__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: 0.01em;
}

.modal-furniture__category {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}
.modal-furniture__price {
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0.01em;
  margin-bottom: 24px;
}
.modal-furniture__rate {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}

.modal-furniture__color-title {
  margin-bottom: 8px;
}
.furnitures__colors-list {
  margin-bottom: 24px;
}

.modal-furniture__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  margin-bottom: 32px;
}

.modal-furniture__sizes {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}

.modal-furniture__btn {
  margin-top: 24px;
  border: none;
}
/* ========================================= */

.rating {
  position: relative;
  display: inline-block;
  font-size: 24px;
  color: #ddd;
  line-height: 1;
  margin-bottom: 24px;
}

.rating::after {
  content: '★★★★★';
  position: absolute;
  left: 0;
  top: 0;
  color: #000;
  overflow: hidden;
  width: var(--rating-percent, 0%);
}

/* ============================================= */
.color-radio {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.color-radio__input {
  display: none;
}

.color-radio__circle {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #ccc;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.color-radio__input:checked + .color-radio__circle {
  border: 3px solid #907777;
}

/* ------------------------------------------------------ */

.body--no-scroll {
  overflow: hidden;
  height: 100vh;
}

/* ------------------------------------------- */

.furniture-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 20px;
}

.gallery-item.big {
  grid-column: 1 / -1;
}

.gallery-item img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
}
