/* --------------------------------------------categories----------------- */
.our-furnitures__categories {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.categories__item {
  width: 100%;
  list-style: none;
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-2px);
  }
}

.categories__thumb {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0 4px 12px rgba(255, 107, 10, 0.1);
  }

  &.categories__thumb--active {
    border: 6px solid #7a0508;
    box-shadow: 0 4px 12px rgba(255, 107, 10, 0.1);
  }
}

.categories__img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.categories__item__name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #fff;
  width: 130px;
}

/* -----------------------------------------our-furnitures__list----------------------------- */
.our-furnitures {
  padding-top: 48px;
  padding-bottom: 48px;
}
.our-furnitures__title {
  margin-bottom: 16px;
}
.our-furnitures__subtitle {
  line-height: 1.6;

  margin-bottom: 40px;
}

.our-furnitures__list {
  gap: 24px 24px;
  margin-bottom: 32px;
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.furnitures__item {
  box-sizing: border-box;
}

.furnitures__image {
  border-radius: 8px;
  margin-bottom: 16px;
}

.furnitures__card-title {
  /* font-weight: 600;
  font-size: 16px;
  line-height: 160%; */
  display: -webkit-box !important;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  margin-bottom: 8px;
  /* min-height: calc(16px * 1.6 * 2); */
}

.furnitures__price {
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  margin-bottom: 16px;
}

.furnitures__colors-list {
  display: flex;
  gap: 16px;
  margin-bottom: 8px;
}

.furnitures__colors__item {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.8);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.furnitures__details-btn {
  border: none;
  border-radius: 100px;
  padding: 10px 24px;
  color: #210b08;
  background: #f3f3f3;
}

.our-furnitures__load-more-btn {
  border: none;
  margin: 0 auto;
  padding: 10px 24px;
  height: 46px;
}
.our-furnitures__load-more-btn.is-hidden {
  display: none;
}

@media screen and (min-width: 768px) {
  .our-furnitures__categories {
    grid-template-columns: repeat(4, 1fr);
  }

  .our-furnitures__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .furnitures__image {
    width: 340px;
    height: 281px;
  }

  .our-furnitures__load-more-btn {
    min-width: 340px;
  }
}
@media screen and (min-width: 1440px) {
  .our-furnitures {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .our-furnitures__categories {
    grid-template-columns: repeat(7, 1fr);
  }

  .our-furnitures__list {
    grid-template-columns: repeat(4, 1fr);
  }

  .furnitures__image {
    width: 310px;
    height: 256px;
  }

  .our-furnitures__load-more-btn {
    min-width: 421px;
  }

  .our-furnitures__list {
    gap: 40px 24px;
  }

  .our-furnitures__categories {
    gap: 24px;
  }

  .categories__item {
    width: 166px;
    height: 122px;
  }

  .categories__item__name {
    font-size: 20px;
  }
}

/* =================================================================== */
