/* --------------------------------------------categories----------------- */
.our-furnitures__categories {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.categories__item {
  width: 159px;
  height: 122px;
  list-style: none;
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-2px);
  }
}

.categories__thumb {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 3px solid #7a0508;
    box-shadow: 0 4px 12px rgba(255, 107, 10, 0.1);
  }

  &.categories__thumb--active {
    border: 6px solid #7a0508;
    box-shadow: 0 4px 12px rgba(255, 107, 10, 0.1);
  }
}

.categories__img {
  display: block;
  width: 100%;
  height: auto;
}

.categories__item__name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #ffff;
}

/* -----------------------------------------our-furnitures__list----------------------------- */

.our-furnitures__list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding-bottom: 32px;
  padding-top: 40px;
}

.furnitures__image {
  border-radius: 8px;
  width: 335px;
  height: 277px;
  margin-bottom: 16px;
}

.furnitures__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  margin-bottom: 8px;
}

.furnitures__price {
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  margin-bottom: 16px;
}

.furnitures__colors-list {
  display: flex;
  gap: 16px;
  margin-bottom: 8px;
}

.furnitures__colors__item {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #907777;
}

.furnitures__details-btn {
  border: none;
  border-radius: 100px;
  padding: 10px 24px;
  width: 335px;
  height: 46px;
  color: #210b08;
  background: #f3f3f3;
}

.our-furnitures__load-more-btn {
  border: none;
  margin-bottom: 48px;
}
.our-furnitures__load-more-btn.is-hidden {
  display: none;
}
